VisualElement 
{
    
}

.barrelPanel
{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

GroupBox Label.unity-group-box__label
{
    font-size: 24px;
    color: cyan;
}

Button
{
    margin-bottom: 8px;
    min-height: 32px;
}
